{% import 'partials/logo.html' as logo %}
{% extends 'layouts/main.html' %}
{% block title %}Coaching{% endblock %}
{% block content %}
  <div class="header">
    <div class="header__image"></div>
    <div class="sticker">
      <p class="sticker__label">Mega Offer</p>
      <svg class="sticker__svg" width="256" height="256" viewbox="0 0 256 256" stroke="none" fill="#fef08a" fill-rule="evenodd" xmlns="http://www.w3.org/2000/svg">
        <path id="sticker-shape" d="M128,1.23606798 L248.559664,88.8277907 L202.50997,230.554175 L53.4900302,230.554175 L7.44033642,88.8277907 L128,1.23606798 Z" id="Polygon"></path>
        <path id="sticker-shape" d="M128,1.23606798 L248.559664,88.8277907 L202.50997,230.554175 L53.4900302,230.554175 L7.44033642,88.8277907 L128,1.23606798 Z" id="Polygon" transform="translate(128.000000, 128.000000) scale(1, -1) translate(-128.000000, -128.000000) "></path>
      </svg>
    </div>
    <div class="header__title">
      <p class="header__title__item">
        <span class="header__title__char">D</span>
        <span class="header__title__char">e</span>
        <span class="header__title__char">s</span>
        <span class="header__title__char">i</span>
        <span class="header__title__char">g</span>
        <span class="header__title__char">n</span>
      </p>
      <p class="header__title__item">
        <span class="header__title__char">C</span>
        <span class="header__title__char">o</span>
        <span class="header__title__char">a</span>
        <span class="header__title__char">c</span>
        <span class="header__title__char">h</span>
        <span class="header__title__char">i</span>
        <span class="header__title__char">n</span>
        <span class="header__title__char">g</span>
      </p>
    </div>
    <div class="arrow">
      <svg class="arrow__svg" width="256" height="256" viewBox="0 0 256 256" stroke="black" stroke-width="4px" fill="#67e8f9" fill-rule="evenodd" xmlns="http://www.w3.org/2000/svg">
          <path d="M147.424965,144.349453 C153.726895,95.1416558 198,27.2852601 198,27.2852601 L124.938518,8 C124.938518,8 92.0731636,80.8731121 85.7706847,130.080909 L57.0366016,105.16415 C57.0366016,105.16415 54.1107641,187.127736 100.577562,248 C100.577562,248 157.100794,190.701572 188.496923,138.522142 L147.424965,144.349453 Z"></path>
      </svg>
    </div>
  </div>
  <article class="article mx-auto mt-6 lg:mt-16 max-w-2xl text-2xl pb-16 md:p-8 md:pb-32 p-4">
    {# intro #}
    <h1 class="mb-4 p-4 md:pt-4 pt-24">Hi, my name is <span class="rounded-lg border-black border-2 py-1 px-2">Reimar</span> and I have a <i>mega offer</i> for you:</h1>
    <div class="mb-24 rounded-lg border-black border-2 py-4 px-6 relative">
      <p><strong>4 coaching sessions</strong> (60 minutes each) — 100% <strong>free</strong> of charge!</p>
      <p class="priceTag">0$</p>
    </div>
    {# details #}
    <div class="p-4 mb-24">
      <p class="mb-8">You don’t need to prepare anything. We just hop on a video call once a week and talk. There are many things I believe I can help you with, for example:</p>
      <ul class="animatedBulletList">
        <li class="animatedBulletList__item mb-2">Improve your communication skills — to better present and sell your design decisions</li>
        <li class="animatedBulletList__item mb-2">Prepare handovers that developers will love you for</li>
        <li class="animatedBulletList__item mb-2">Review your day-to-day work and help you when you are stuck</li>
        <li class="animatedBulletList__item mb-2">Prepare you for the next step in your career — help you build your portfolio, practice for job interviews</li>
        <li class="animatedBulletList__item mb-2">Help you overcome difficult situations at work</li>
        <li class="animatedBulletList__item mb-2">Or &hellip; just chat about design, design systems, programming or whatever influences and improves your work</li>
      </ul>
    </div>
    {# cta #}
    <div class="mb-16 rounded-lg border-black border-2 py-4 px-6 bg-green-200 drop-shadow-[4px_4px_0_black]">
      <p>Does that sound like something you wanna try out? Let’s connect to schedule a first quick call to get to know each other.</p>
      <p class="text-center my-8">
        <a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSfhp5G20d2YU27IWHIIK7L3Rttm2Bvf1Xv2NKDFmW3f9MZuZQ/viewform?usp=sf_link" target="_blank" rel="noopener noreferrer">Claim Your Spot <span class="button__icon">➔</span></a>
      </p>
    </div>
    {# why #}
    <div class="pt-12 p-4 border-t-2 border-black">
      <h2 class="mb-4 font-bold">Why Am I Doing This?</h2>
      <p>The 1:1 coaching sessions during my consulting projects feel like the most valuable and effective part of my work. Back in university, I had some important mentors but I wish I had similar guidance once I started out working as a junior designer — and even later in my career!</p>
      <p class="indent-8">I also see a lot of companies offer educational budget but few additional opportunities to grow their talent. Since it is hard to hire in tech these days and good leaders with coaching skills are rare, I feel like there is a gap I can fill.</p>
      <p class="indent-8">So this is as a test-run to get valuable feedback and eventually turn this into a professional service — to help people in digital product design to grow and develop.</p>
    </div>
    {# who #}
    <div class="mt-4 p-4">
      <h2 class="mb-4 font-bold">A bit more about me</h2>
      <p>I am a freelance consultant with 15+ years of experience and a background in both design and programming. My clients range from large agencies to small start-ups and I specialize in design systems.</p>
      <p class="indent-8">Besides design, I have a lot of passion for other crafts and creative disciplines — eg. programming, electronics, furniture, arts, movies, music and more. I deeply value robust and sustainable solutions and I generally enjoy reparing something old more than buying something new.</p>
      <p class="indent-8">I am also deeply allergic to bullshit and I am convinced that the world is too complex for simple one-fits-all solutions ☻</p>  
    </div>
   </article>
{% endblock %}